# Requirements

- Python 3.x
- pandas
- numpy
- keras
- sklearn
- matplotlib
- seaborn

## Installation

Install the required packages using pip:

```bash
pip install pandas numpy keras sklearn matplotlib seaborn
